@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Refrigirator';
    src: url('../fonts/RefrigiratorDeluxe/Refrigerator Deluxe.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Refrigirator';
    src: url('../fonts/RefrigiratorDeluxe/Refrigerator Deluxe Bold.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'Refrigirator';
    src: url('../fonts/RefrigiratorDeluxe/Refrigerator Deluxe Heavy.otf') format('opentype');
    font-weight: 700;
}

:root {
    --background: #191A26;
    --background-100: #191A26;
    --background-200: #2c2f52;
    --background-300: #36428c;
    --foreground: #FFFFFF;
    --foreground-100: #FFFFFF;
    --foreground-200: #ccccd3;
    --foreground-300: #a7a7b0;
}

body {
    font-family: Nunito, sans-serif;
    background-color: var(--background);
    color: var(--foreground);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Refrigirator, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

a {
    color: inherit;
}

form {
  display: flex;
  align-items: center;
  gap: 12px;
  background: transparent;
  font-family: Nunito, sans-serif;
}