.hero-card {
  position: relative;
  display: inline-block;
  transition: transform 0.25s ease;
 
}

.hero-card::after {
  content: "";
  position: absolute;
  top: -2px;       
  left: -10px;       
  right: -10px;      
  bottom: -2px;    
  background: url("../../images/ui/portrait-border.png") no-repeat center;
  background-size: 100% 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 5;
}

.hero-card:hover::after {
  opacity: 1;
}
