/* par défaut : mode desktop (grand écran) → icon & nom classe */

/* mode desktop (petit écran) → icon class */
@media (max-width: 1200px) {
  .role-filter {
    height: 60px;
  }

  .role-filter label {
    min-width: 60px;
    padding: 6px 8px;
  }

  .role-filter label span {
    display: none;
  }

  .role-filter label img {
    height: 26px;
  }
}

/* mode mobile → autre row + icon & nom classe */
@media (max-width: 995px) {
  form {
    flex-direction: column;
    align-items: stretch;
  }

  .search-bar {
    width: 100%;
  }

  .role-filter {
    justify-content: center;
    flex-wrap: wrap;
  }

  .role-filter label span {
    display: inline;
  }

  .role-filter label {
    padding: 8px 16px;
    min-width: auto;
  }

  .role-filter label img {
    height: 20px;
  }
}
