
@media (max-width: 1000px) {
    .hero-info {
        font-size: 64px;
        left: 150px;
    }

    .hero-info h1 {
        max-width: 300px;
    }

    .hero-full-portrait {
        left: 150px;
        top: 100px;
        height: 800px;
    }

    .hero-info p {
        max-width: 400px;
    }
}

@media (max-width: 820px) {
    .hero-info {
        left: 100px;
        top: 240px;
    }

    .hero-info img.hero-icon {
        left: -54px;
        top: -24px;
        height: 88px;
    }

    .hero-info .class {
        gap: 0;
        padding-left: 8px;
    }

    .hero-info .class img {
        height: 20px;
    }

    .hero-info .class h3 {
        font-size: 20px;
        padding-left: 8px;
    }

    .hero-info h1 {
        font-size: 48px;
        line-height: 48px;
        max-width: 200px;
    }

    .hero-info .bio p {
        max-width: 300px;
    }

    .hero-full-portrait {
        left: -140px;
        top: 320px;
        height: 550px;
    }
}